frontend/node_modules
backend/src/__pycache__
backeend/src/__pycache__
backend/src/restaurant_modules/__pycache__
backend/requirements.txt
backend/instance
backend/.env
backend/docker-compose.yml
backend/scripts/insert_restaurants.sql
.venv