frontend/node_modules
**/__pycache__/
__pycache__/
**/.pytest_cache/
backend/instance
backend/.env
backend/.env.test
backend/src/restaurants.db
backend/src/rcmd_restaurants.db
backend/tests/endpoints/restaurants.db
backend/docker-compose.yml
backend/scripts/insert_restaurants.sql
.venv
